<header>
  <div class="sidenav">
    <div class="adjust_heading">
      <a routerLink="/activity">Activity</a>
    </div>
    <div class="adjust_heading">
      <a routerLink="/highlight">Highlight</a>
    </div>
    <div class="adjust_heading">
      <a routerLink="/worldmap">World Map</a>
    </div>
  </div>
  <div class="main header_class">
    <h2>Activity</h2>
  </div>
</header>

<br><br>
<div class="row my-1">
  <div class="text-center col-4">
    <div class="bg-info mx-3">$USD 50000<br>
      SBM WON Last 7 Days</div>
  </div>
  <div class="text-center col-4">
    <div class="bg-info mx-3">$USD 454665<br>
      SBM WON Last 30 Days</div>
  </div>
  <div class="text-center col-4">
    <div class="bg-info mx-3">SBM WON Last 7 Days</div>
  </div>
</div>
<br><br>
<div class="row my-1">
  <div class="text-center col-4">
    <div class="bg-info mx-3">SBM WON Last 7 Days</div>
  </div>
  <div class="text-center col-4">
    <div class="bg-info mx-3">SBM WON Last 7 Days</div>
  </div>
  <div class="text-center col-4">
    <div class="bg-info mx-3">SBM WON Last 7 Days</div>
  </div>
</div>
